/* Ví dụ 1 */
/* Công thức tính toán line-height: Lấy line-height (trong figma/pts) chia cho font-size (trong figma/pts) */
/* Lưu ý: cách viết công thức tính calc đúng là line-height: calc(30 / 16) (Viết cách ra tuyệt đối không viết sát liền như sau: calc(30/16) */
/* 
.text {
    font-size: 30px;
    line-height: calc(30 / 16);
} 
*/

/* Ví dụ 2 */
.layout {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

.image {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
} 

.content { 
    /* 
    Do nội dung của class content (bên phải) quá nhiều nó sẽ khiến cho diện tích class image (bên trái) bị thu hẹp lại khiến cho nội dung
    hiển thị bên trong của class image bị ép lại sẽ hiển thị không đẹp do không đủ chiều rộng để hiển thị
    */
    /* Lấy 100% - độ rộng class image => Độ rộng class content */
    width: calc(100% - 100px);
}
