/* Tìm hiểu cách sử dụng pseudo :is() và :where() */

/* ------------------------------------------------------------------------------------------------------------------------- */
/* pseudo :is() */

/* .article h1,
.article h2,
.article h3 {
  color: red;
} */
/* => Quá dài dòng */

/* .article :is(.h1, .h2, .h3) {
  color: red;
}

.article :is(h1, h2, h3):hover {
  color: aqua;
}

.h1 {
  color: blue;
} */

/* class h1 không thể ghi đè màu được vì độ ưu tiên của thằng trên cao hơn */

/* ------------------------------------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------------------------------------- */
/* pseudo :where() */

.article :where(.h1, .h2, .h3) {
  color: red;
}

.h1 {
  color: blue;
}

/* Cách dùng của pseudo :is() và :where() là y hệt nhau chỉ khác về độ ưu tiên. 
Với :is độ ưu tiên vẫn được tính như bình thường, nhưng với :where thì độ ưu tiên luôn luôn là 0 */
/* class h1 có thể ghi đè màu được vì độ ưu tiên của thằng trên lúc này đã là 0 */

/* ------------------------------------------------------------------------------------------------------------------------- */
