*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body,
input,
button,
textarea,
select {
  outline: none;
  font-size: 12px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

input {
  line-height: normal;
}

button {
  cursor: pointer;
}

.layout{
    display: grid;

    /* grid-template-columns: Chia cột: 1 giá trị là 1 cột (column-size) */
    /* grid-template-columns: 200px 100px 50px; */
    /* grid-template-columns: calc(35% - 40px) calc(30% - 40px) calc(35%);  Muốn mất thanh scroll ngang thì dùng calc trừ đi cái gap để nó chỉ hiển thị trong màn hình thôi */
    /* grid-template-columns: 33.33% 33.33% 33.33%; */
    /* 3 cột */
    grid-template-columns: 1fr 1fr 1fr;
    /* 2 hàng */
    grid-template-rows: auto auto;

    /* track line bắt đầu từ số 1 */
    /* Số cột: track line = số cột + 1 <-> Số cột 3 -> track line = 3 + 1 = 4 */

    /* grid-gap: grid-row-gap (khoảng trống giữa các hàng) && grid-column-gap (khoảng trống giữa các cột) */
    /* grid-column-gap: 40px; */
    /* grid-row-gap: 40px; */
    grid-gap: 30px 30px;

    /* gap count: column count - 1 -> 3 cột sẽ có 2 cái gap -> 40 * 2 = 80px -> 100% độ rộng cộng 80px -> lớn hơn 100% -> Có scroll ngang*/

    /* fr có nghĩa là có bao nhiêu khoảng trống thì nó sẽ chiếm hết luôn */
}

.layout-item{
    height: 500px;
}

.layout-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}