h2 {
    display: block;
    margin: 50px;
    padding: 10px;
    color: black;
    font-weight: bold;
    position: relative;
}

h2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #e74c3c;
    transition: .25s linear;
    z-index: -1;
}

h2:hover:before {
    width: 100%;
    left: 0;
    right: auto;
} 


/* .quote {
    margin: 10px;
    width: 300px;
    height: 200px;
    background-color: #eee;
    border-radius: 30px;
    position: relative;
}

.quote:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50px;
    border-top: 10px solid #eee;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
} */